.biografia{
    display: flex;
    padding: 40px;
    gap: 50px;
    height: auto;
    justify-content: center;
    margin-bottom: 100px;

}
.biografia img{
  border-radius: 10px;
  height: 450px;
}
.boigrafia__info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    font-size: 15px;
}
.biografia__info__trabajos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.biografia__info__infoPersonal h1{
    font-weight: bold;
}
.biografia__info__infoPersonal h2{
   font-size: 15px;
}

.botonVolver__biografia{
    margin-top: 90px;
    margin-left: 30px;
}