.temporadas{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    padding: 30px;
}
.titulo__temporadas{
    color: white;
    width: 100%;
    border-bottom: 2px solid white;
    padding-left: 25px;

}
.temporadas__numeroTemporada{
    display: flex;
    gap: 10px;
    padding-left: 15px;
}

.temporadas__numeroTemporadaOn{
    display: flex;
    gap: 10px;
    padding-left: 15px;
    border-bottom: 2px solid white;
}
