*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: rgb(20, 22, 31)
}
.container__general__app{
  margin-top: 70px;
}

@media screen and (max-width:1000px) {

  .tarjetaColeccion{
    width: 160px;
  }
  .buscador__input{
    width: 80%;
    border: 1px solid red;
  }
}

@media screen and (max-width:500px) {
  .container__general__app{
    margin-top: 5px;
  }

}

