.contaier__repartoCompleto{
    color: white;
    padding-left: 20px;
    margin-top: 30px;
    
}
.repartoCompletoTarjetas__cast{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.repartoCompletoTarjetas__cast h1{
    color: white;
}


