.tarjetaFiltrado{
    width: 150px;
    height: auto;
    color: white;
    background-color: rgb(14, 11, 19);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    transition: all .2s;
}
.tarjetaFiltrado:hover{
   border: 2px solid white;
}